<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/success.css">
</head>

<body>
    <div class=wrapper>
        <div class="page-header">
            <h1>Hi, There!!<br><br> Error In uploading file, Make sure you're uploading an image.</h1>
        </div>
        <p>
            <a href="/register" class="btn btn-success">Register Again</a>
        </p>
        <p>
            <a href="/home" class="btn btn-primary">Homepage</a>
        </p>
    </div>
</body>
</html>
