<!DOCTYPE html>
<html>

<head>
    <title>
        Registration Page
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div>
        <form id="uploadForm" enctype="multipart/form-data" action="/gs/api/txtfile" method="post">
            <h2 id="reghead">Register Here: </h2>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" placeholder="Enter Title..">

            <label for="des">Last Name: </label>
            <input type="text" id="des" name="des" placeholder="Enter Description..">

            <label for="img">Image: </label>
            <input type="file" name="img"/>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>